@import '../../styles/_var.module.css';

.container {
  width: 100%;
}

.personalProjects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 4rem 0 0;
  max-width: 600px;
  margin: 0 auto;
}

.personalProjects__title {
  font-size: var(--large);
  font-weight: 500;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2rem;
  max-width: 600px;
  padding: 0;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.project__title {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.project > a {
  text-decoration: none;
  color: var(--text-primary);
}
.project__description {
  color: var(--text-secondary);
}

@media (max-width: 600px) {
  .projects,
  .personalProjects__title {
    padding: 0 1rem 3rem;
  }
}
