:root {
  /* Colors */
  --background: #fafafa;
  --background-secondary: #181818;
  --text-primary: #181818;
  --text-secondary: #4e4e4e;

  /* Font-size */
  --small: 0.8rem;
  --medium: 1.2rem;
  --large: 1.4rem;
}

[data-theme='dark'] {
  --background: #181818;
  --background-secondary: #fafafa;
  --text-primary: #fafafa;
  --text-secondary: #a7a4a4;
}
