:root {
  /* Colors */
  --background: #fafafa;
  --background-secondary: #1a1a1a;
  --text-primary: #181818;
  --text-secondary: #4e4e4e;

  /* Font-size */
  --small: 0.8rem;
  --medium: 1rem;
  --large: 1.1rem;
}

[data-theme='dark'] {
  --background: #181818;
  --background-secondary: #fafafa;
  --text-primary: #e5e5e5;
  --text-secondary: #a0a0a0;
}
