@import '../../styles/_var.module.css';

.container {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 4rem 0 0;
  max-width: 600px;
  margin: 0 auto;
}

.contact__title {
  font-size: var(--large);
  font-weight: 500;
}

.contact__info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.contact__info > p {
  min-width: 75.2px;
  color: var(--text-secondary);
}

.contact__info > a {
  text-decoration: none;
  color: var(--text-primary);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

@media (max-width: 600px) {
  .contact {
    padding: 4rem 1rem 0;
  }
}
