@import '../../styles/_var.module.css';

.container {
  width: 100%;
  margin-top: 3rem;
  border-top: 1px solid var(--background-secondary);
}

.footer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer > a {
  text-decoration: none;
  color: var(--background-secondary);
}
